.boll {
  height: 300px;
  width: 200px;
  margin-left: 10px;
  background: url(../img/ball.jpg) center center no-repeat;
  transition: all 0.2s;
  position: relative;
}
.boll:hover::before {
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.5);
}
.boll1:hover::before {
  content: 'Shar 1';
}
.boll2:hover::before {
  content: 'Shar 2';
}
.boll3:hover::before {
  content: 'Shar 3';
}
.boll4:hover::before {
  content: 'Shar 4';
}
