@font-face {
  font-family: 'Proxima_regul';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 10px;
}
h1 {
  font-size: 4rem;
}
section {
  padding: 4rem 0rem;
}
section h2 {
  font-family: 'Proxima_bold';
  font-size: 3rem;
}
a:hover {
  text-decoration: none;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}
p {
  font-family: 'Proxima_regul';
}
.main_content_form .label_form {
  font-size: 1.3rem;
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  font-family: 'Proxima_regul';
}
.main_content_form .form_input {
  display: block;
  border: 1px solid #dddddd;
  width: 100%;
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.main {
  background: white url(../img/main.jpg) center center no-repeat;
  background-size: cover;
}
.header {
  padding: 3rem 0rem;
  height: 7rem;
}
.phone_link {
  text-align: right;
}
.phone_link .link {
  font-family: 'Proxima_bold';
  font-weight: 900;
  font-size: 1.7rem;
  display: inline-block;
  color: #1a1820;
  height: 7rem;
  line-height: 7rem;
  text-align: right;
}
.group_btn {
  background: #fcb303;
  color: #ffffff;
  padding: 1.5rem 0rem;
  width: 100%;
  border-radius: 0.8rem;
  text-transform: uppercase;
  transition: all 0.2s;
  border: none;
  font-family: 'Proxima_bold';
}
.group_btn:hover {
  cursor: pointer;
  background-color: #ca8f02;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.header_row {
  margin-top: 10rem;
}
.main_content .main_title {
  font-family: 'Proxima_bold';
  line-height: 4rem;
  text-align: left;
  margin-bottom: 3rem;
  margin-top: -0.5rem;
}
.main_content .main_content_describ {
  font-family: 'Proxima_regul';
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 5rem;
}
.main_content .green_add {
  text-align: center;
  padding: 1rem 3rem;
  padding-top: 2rem;
  display: inline-block;
  background-color: #45b814;
  color: #ffffff;
}
.main_content .green_add strong {
  font-size: 2.5rem;
  font-family: 'Proxima_bold';
}
.main_content .oplata_po_facty {
  font-family: 'Proxima_regul';
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-top: 3rem;
}
.main_content_form {
  padding: 1rem 4rem;
  display: block;
  text-align: center;
  background-color: #ffffff;
}
.main_content_form .title_form {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  font-family: 'Proxima_regul';
}
.main_content_form .title_form .header_form_bold {
  font-weight: 900;
}
.main_content_form .group_btn_form {
  padding: 1rem 0rem;
}
.main_content_form small {
  display: block;
  padding-top: 2rem;
  font-family: 'Proxima_regul';
}
.section_header {
  text-align: center;
  font-family: 'Proxima_bold';
  margin: 8rem 0rem;
}
.features .features_block {
  text-align: center;
}
.features .features_img {
  height: 6rem;
  margin-bottom: 4rem;
}
.features .features_img img {
  display: block;
  margin: 0 auto;
}
.features h3 {
  font-size: 2rem;
  font-family: 'Proxima_bold';
  margin: 2rem 0rem;
}
.features p {
  display: inline-block;
  font-size: 1.6rem;
  font-family: 'Proxima_regul';
  width: 80%;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  z-index: 99;
  top: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: 100%;
  transform: translateY(-50%);
}
.prev {
  background: url(../img/arrow_left.png) center no-repeat;
  left: 0;
}
.next {
  background: url(../img/arrow_right.png) center no-repeat;
  right: 0;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_content {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 1rem;
  text-align: center;
}
.popup_header {
  font-family: 'Proxima_bold';
}
.popup_close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup .main_form .popup_textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.prices {
  background: #45b814 url(../img/Prices/prices_fon.jpg) center;
  color: black;
  font-size: 1.6rem;
  font-family: 'Proxima_regul';
}
.prices .prices_title {
  margin-bottom: 2rem;
  font-family: 'Proxima_bold';
}
.prices .prices_button {
  margin: 2rem 0;
  width: 80%;
}
.prices .prices_block {
  background-color: white;
  padding: 1rem 3rem;
  margin-bottom: 1.5rem;
  min-height: 55rem;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.prices .prices_block .prices_block_title {
  min-height: 4rem;
}
.prices .prices_block .prices_block_title h3 {
  font-size: 1.8rem;
  font-family: 'Proxima_bold';
}
.prices .prices_block img {
  width: 100%;
  max-width: 25rem;
}
.prices .prices_block .prices_number {
  margin-top: 2rem;
}
.prices .prices_block .prices_number span {
  font-size: 3rem;
  font-family: 'Proxima_bold';
}
.prices .prices_block .price_list {
  list-style: none;
  padding-left: 0rem;
  min-height: 15rem;
  line-height: 2.5rem;
}
.prices .prices_block .price_list li:before {
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.7rem;
  background: url(../img/Block_price/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.prices .prices_block .price_block_button {
  width: 50%;
  margin-bottom: 1.5rem;
}
.feedback {
  background: url(../img/Reviews/review_fon.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.feedback .prev_btn {
  left: 0rem;
}
.feedback .next_btn {
  right: 0rem;
}
.feedback .feedback_slider_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
}
.feedback .feedback_slider {
  padding: 5rem;
  background-color: #ffffff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback p {
  font-size: 1.6rem;
}
.feedback .media .media-body {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.feedback .media .media-body h4 {
  font-family: 'Proxima_bold';
  margin-top: 1rem;
}
.feedback .media .media-object {
  width: 6rem;
  margin-right: 1.5rem;
}
.feedback .feedback_text {
  position: relative;
  padding: 1rem;
  border: 2px solid #45b814;
  font-style: italic;
  margin-top: 2rem;
}
.feedback .feedback_text::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -2rem;
  left: 4rem;
  border: 2px solid #45b814;
  background-color: #ffffff;
  border-bottom: none;
  border-top-right-radius: 1000px;
}
.feedback .feedback_text p {
  width: 100%;
}
.feedback .feedback_form {
  margin-top: 6rem;
  padding: 4rem 8rem;
  background-color: #ffffff;
}
.feedback .feedback_form .feedback_form_title {
  font-size: 2.2rem;
  font-family: 'Proxima_bold';
}
.feedback .feedback_form .feedback_form_content {
  margin-top: 2rem;
}
.feedback .feedback_form button {
  max-width: 50%;
  margin: auto;
}
.feedback img.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 30rem;
}
.scheme {
  background: url(../img/Scheme/fon.png) bottom -10rem right -10rem no-repeat;
  background-size: 65rem;
}
.scheme .scheme_header .scheme_title {
  margin-bottom: 3rem;
}
.scheme .scheme_header p {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.scheme .scheme_block {
  min-height: 30rem;
  text-align: left;
}
.scheme .scheme_block h3 {
  font-size: 2.2rem;
  font-family: 'Proxima_bold';
  margin-bottom: 1.5rem;
}
.scheme .scheme_block p {
  font-size: 1.7rem;
}
.all_inclusive {
  background-color: #f5f5f5;
}
.all_inclusive .all_inclusive_header h2 {
  font-size: 4.8rem;
  margin-bottom: 3rem;
}
.all_inclusive .all_inclusive_header p {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.all_inclusive .circle_border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #45b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  padding: 0.3rem;
}
.all_inclusive .circle_border .circle {
  display: inline-block;
  background-color: #45b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  font-family: 'Proxima_bold';
  font-size: 1.6rem;
}
.all_inclusive .media {
  min-height: 9rem;
  font-size: 1.3rem;
}
.all_inclusive .media h4 {
  font-family: 'Proxima_bold';
  font-size: 1.6rem;
}
.fears {
  position: relative;
}
.fears h2.fears_title {
  text-align: center;
  font-family: 'Proxima_bold';
  margin-bottom: 4rem;
}
.fears h3 {
  font-family: 'Proxima_bold';
  margin-left: 1rem;
  margin-bottom: 3rem;
  font-size: 2.1rem;
}
.fears ul {
  position: relative;
  list-style: none;
}
.fears ul li {
  font-family: 'Proxima_regul';
  min-height: 6rem;
}
.fears ul li:before {
  left: 1rem;
  position: absolute;
}
.fears .fears_block {
  min-height: auto;
  padding-bottom: 0rem;
  margin-bottom: 2rem;
}
.fears .fears_problem {
  border: 2px solid #e8e8e8;
  padding: 2rem;
}
.fears .fears_problem h3 {
  color: #aaaaaa;
}
.fears .fears_problem ul li:before {
  content: '';
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/Fears/cancel.svg) center no-repeat;
}
.fears .fears_solution {
  border: 2px solid #358015;
  padding: 2rem;
}
.fears .fears_solution ul li:before {
  content: '';
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/Fears/checked.svg) center no-repeat;
}
.fears img.woman {
  position: absolute;
  top: 17%;
  left: 50%;
  width: 30rem;
  margin-left: -20rem;
  height: 45rem;
}
.materials {
  background: url(../img/Materials/fon_materials.jpg) center no-repeat;
  background: cover;
  text-align: center;
}
.materials .materials_title {
  font-family: 'Proxima_bold';
  margin: 8rem 0rem 4rem;
}
.materials p {
  margin-bottom: 7rem;
  font-family: 'Proxima_regul';
  font-size: 1.9rem;
}
.materials .features_block img {
  height: 17rem;
  margin: auto;
}
.materials .features_block h3 {
  font-family: 'Proxima_bold';
}
.materials .features_block .material_link {
  margin-bottom: 2rem;
  color: #358015;
  border-bottom: 1px dotted #358015;
}
.materials .features_block .material_link:hover {
  color: #000000;
}
.materials .features_block .info_product {
  display: inline-block;
  margin-bottom: 1rem;
  min-height: 6rem;
}
.materials .materials_bottom {
  font-size: 1.8rem;
  margin-top: 4rem;
}
/*============    	АДАПТИВ    ===========*/
@media (max-width: 1199px) {
  .feedback .feedback_form {
    padding: 2rem 3rem;
  }
  .all_inclusive .media {
    min-height: 11rem;
  }
  .all_inclusive .media p {
    font-size: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .prices_block_title {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone_link {
    text-align: center;
  }
  .main_content {
    text-align: center;
  }
  .main_content .header_row {
    margin-top: 5rem;
  }
  .main_content .header_row .main_title {
    text-align: center;
  }
  .main_content .header_row .main_content_form {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  img.hand {
    display: none;
  }
  .scheme {
    background-size: 40rem;
  }
  .fears img.woman {
    display: none;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .header .group_btn {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
  }
  .main_title {
    font-size: 2rem;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback_form button.feedback_btn {
    max-width: 100%;
  }
  .scheme {
    background: none;
  }
  .scheme .scheme_block {
    min-height: 25rem;
    text-align: center;
  }
  .all_inclusive .media {
    min-height: 7rem;
  }
}
