.boll {
  height: 300px;
  width: 200px;
  margin-left: 10px;
  background: url(../img/ball.jpg) center center no-repeat;
  transition: all 0.7s;
}
.boll:before {
  box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.55) inset;
}
.boll1:hover::before {
  content: 'шар 1';
  color: white;
  text-align: center;
  font-size: 30px;
}
.boll2:hover::before {
  content: 'шар 2';
  color: white;
  text-align: center;
  font-size: 30px;
}
.boll3:hover::before {
  content: 'шар 3';
  color: white;
  text-align: center;
  font-size: 30px;
}
.boll4:hover::before {
  content: 'шар 4';
  color: white;
  text-align: center;
  font-size: 30px;
}
